extends layout

block content
  h1.
    Systems

  div.row
    each system, i in systemlist
      div.col-lg-4
        div.panel.panel-primary
          div.panel-heading
            | #{system.name}
          div.panel-body
            | IP: #{system.ip}
            br
            | Hostname: #{system.hostname}
            br
            p.fa.fa-dashboard
              | CPU: #{system.cpu}
            br
            | Open Files: #{system.openFiles}
            br
            | Users: #{system.users}
            br
